main {
    min-height: 80vh;
}

.navlinks {
    margin-left: auto;
}

.appcontainer {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    display: inline-block;
    font-size: large;
}

h4, p {
    line-height: 2;
}

.description, .aboutdesc  {
    text-align: justify;
}

p, .techicons {
    color: #EFEFEF;
    font-size: large;
}

strong {
    font-size: x-large;
}

.aboutexp {
    text-align: left;
}

.profilepic {
    flex: auto;
    margin-left: 8rem;
}

.aboutPic {
    flex: auto;
    margin-left: 8rem;
}

.projectImg {
    height: 205px;
    width: auto;
}

.charactersLeft {
    font-size: 0.9rem;
}

@media (max-width: 1028px) {
    .mainContainer {
        justify-content: center;
        margin-left: 5%;
    }
    .profilepic {
        margin: 0%;
    }

    .aboutPic {
        margin: 0%;
        width: 300px;
        height: 300px;
    }

    .projectImg {
        height: auto;
        width: auto;
    }
}