main {
    min-height: 80vh;
}

.navlinks {
    margin-left: auto;
}

.appcontainer {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {
    display: inline-block;
    font-size: large;
}

h4, p {
    line-height: 2;
}

.description {
    text-align: justify;
}

.aboutdesc {
    text-align: justify;
}

p, .techicons {
    color: #EFEFEF;
}

strong {
    font-size: x-large;
}

.aboutexp {
    text-align: left;
}